<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"><h1><strong><%= @user.user_name %></strong></h1></a>
  <%= form_tag ({controller: 'session', action: 'destroy', method: 'post', :class => 'form-inline'}) do %>
    <input class="btn btn-secondary btn-sm" type=submit value='logout'>
  <% end %>
</nav>

<br>
<div class=" headerr">
  <h3><strong>Favorited Recipes:</strong></h3>
</div>
<div class="row">
  <!-- EACH LOOP -->
  <p><% @user.recipes.each do |r| %></p>
    <div class="col-sm">
      <div class="card" style="width: 12rem;">
        <img src="<%=r.img %>" class="card-img-top" alt="" height="150" width="200">
        <div class="card-body">
          <h5 class="card-title"><p><%=link_to r.name, r.link, target: :_blank %></p></h5>
          <%= form_tag ({controller: 'recipes', action: 'destroy', method: 'post'}) do %>
          <input type ="hidden" name="recipe[id]" value='<%= r.id%>'>
          <input class="btn btn-secondary btn-sm" type=submit value='delete recipe'>
          <% end %>
        </div>
      </div>
      <br>
      <br>
    </div>
    <% end %>
</div>
<br>
<br>
<div class=" headerr">
  <h3><strong>Previous Searches:</strong></h3>
</div>
  <div class="row">
    <!-- EACH LOOP -->
    <p><% @user.searches.each do |search| %></p>
      <div class="col-sm">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title"><p><%=link_to search.ingredients, search %></p></h5>
            <%= form_tag ({controller: 'searches', action: 'destroy', method: 'post'}) do %>
            <input type ="hidden" name="search[id]" value='<%= search.id%>'>
            <input class="btn btn-secondary btn-sm" type=submit value='delete search'>
            <% end %>
          </div>
        </div>
        <br>
        <br>
      </div>
      <% end %>
  </div>
<br>
<a class="btn btn-secondary btn-sm" href="<%= new_search_path() %>" role="button">New Search</a>
