<h1>Search by Ingredients</h1>

<%= form_tag searches_path do %>
  <p><strong>Oils:</strong></p>
    <% @oils.each do |oil| %>
        <li>
          <%= check_box_tag 'ingredients[]', oil.name -%>
          <%= h oil.name -%>
        </li>
    <% end %>

  <p><strong>Spices:</strong></p>
    <% @spices.each do |spice| %>
        <li>
          <%= check_box_tag 'ingredients[]', spice.name -%>
          <%= h spice.name -%>
        </li>
    <% end %>

    <p><strong>Vegs/Fruits:</strong></p>
      <% @vegfruits.each do |vegfruit| %>
          <li>
            <%= check_box_tag 'ingredients[]', vegfruit.name -%>
            <%= h vegfruit.name -%>
          </li>
      <% end %>

    <p><strong>Meats/Dairy:</strong></p>
      <% @meatdairys.each do |meatdairy| %>
          <li>
            <%= check_box_tag 'ingredients[]', meatdairy.name -%>
            <%= h meatdairy.name -%>
          </li>
      <% end %>

      <p><strong>Grains:</strong></p>
        <% @grains.each do |grain| %>
            <li>
              <%= check_box_tag 'ingredients[]', grain.name -%>
              <%= h grain.name -%>
            </li>
        <% end %>

      <p><strong>Nuts:</strong></p>
        <% @nuts.each do |nut| %>
            <li>
              <%= check_box_tag 'ingredients[]', nut.name -%>
              <%= h nut.name -%>
            </li>
        <% end %>
        <br>
  <%= submit_tag "Search!"%>
<% end %>
