<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"><h1><strong>Recipes:</strong></h1></a>
  <form class="form-inline">
    <a class="btn btn-secondary btn-sm" href="<%= user_path(session[:user_id]) %>" role="button">Profile</a>
  </form>
</nav>

<% def checker_url(url) %>
  <% begin %>
    <% parsed = URI.parse(url) %>
    <% response = Net::HTTP.get_response(parsed) %>
  <% rescue StandardError %>
    <% false %>
  <% end %>
<% end %>

<table class="table"">
  <tbody>
    <tr>
      <td class="align-middle">

          <div class="row">
            <% @response.each do |r| %>
              <% if r["thumbnail"].length > 0 %>
              <div class="col-sm">
                <div class="card" style="width: 19rem;">
                  <% @url = r["href"] %>
                  <% if !!checker_url(@url) %>
                    <% @page = MetaInspector.new(@url) %>
                    <% @img = @page.images.best %>
                    <% if @img == nil %>
                      <% @img = r["thumbnail"] %>
                    <% end %>
                    <img src="<%= @img %>" class="card-img-top" alt="" height="150" width="200">
                    <div class="card-body">
                      <div id="linkk">
                        <h5 class="card-title"><p><%=link_to r["title"], r["href"], target: :_blank %></p></h5>
                      </div>
                      <% this_recipe = Recipe.where(name: r["title"])[0] %>
                      <% if !this_recipe%>
                      <div class="borderr1">
                        <p>favorited by: 0 </p>
                      </div>
                      <% else %>
                        <div class="borderr1">
                          <p>favorited by: <%= this_recipe.users_count %> </p>
                        </div>
                      <% end %>
                      <%= form_tag ({controller: 'recipes', action: 'create', method: 'post'}) do %>
                        <input type ="hidden" name="recipe[name]" value='<%= r["title"]%>'>
                        <input type ="hidden" name="recipe[img]" value='<%= @img %>'>
                        <input type ="hidden" name="recipe[link]" value='<%= r["href"]%>'>
                        <input type ="hidden" name="search[id]" value='<%=@search.id%>'>
                        <div class="borderr2">
                          <input class="btn btn-secondary btn-sm" type=submit value='favorite'>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>

                <br>
                <br>
              </div>
              <% end %>
            <% end %>
          </div>

      </td>
    </tr>
  </tbody>
</table>
